/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1128px;
  height: 648px;
  padding: 24px 156px;
  gap: 24px;
  background-color: #FFF;
  list-style-type: none;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;


}


.gallery-image {
  display: flex;
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}